.home-div1 {
    display: flex;
    align-items: center; /* Center items vertically */
  }
  
  .container img {
    margin-right: 10px; /* Adjust margin as needed */
  }
  
.home-container {
    padding-top: 20px;
}

h1 {
  text-align: center;
}

p {
  font-size: 25px;
  padding-left: 160px;
  padding-right: 160px;

}

.team {
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center; /* Center items vertically */
  text-align: center;
}

.proffesor {
  padding-top: 50px;
}

.proffesor h3 {
  font-size: 30px;
}
.proffesor p {
  font-size: 25px;
}

.mentors {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Center items vertically */
  justify-content: space-around;
}

.page-break {
  display: flex; /* Use flexbox */
  align-items: center; 
  justify-content: center; 
  flex-wrap: wrap; /* Allow items to wrap if necessary */
  gap: 20px; /* Add spacing between items */
}

.break-line {
  flex: 1;
  border: none; 
  height: 3px; 
  background-color: black; 
  margin-left: 5%;
  margin-right: 5%;
}

.mentor {
  text-align: center;
}