.home-div1 {
    display: flex;
    align-items: center; /* Center items vertically */
  }
  
  .container img {
    margin-right: 10px; /* Adjust margin as needed */
  }
  
.home-container {
    padding-top: 20px;
}

.linkbar {

}

.team {

}

.proffessor {

}

.metors {
    
}