
:root {
  --OURed: #841617;
  --OUWhite: #FDF9D8;
}
.banner-container {
  position: relative; 
  width: 100%;
  height: auto;
  background-color: #F8F7F0;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 55px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 

}
.OU-logo-image{
  float:left;
  width:10%;
}

.banner-image {
  width: 100%;
  height: auto;
  max-height: 400px;
  margin: 0 auto;
}

.navbar {
  background-color: var(--OURed); 
  padding-top: 10px; 
  padding-bottom: 10px; 
}

.nav-link {
  color: white;
  margin-right: auto;
  font-weight: bold; 
}

.login-button {
  color: var(--OURed);
  background-color: white; 
  border-color: white; 
  font-weight: bold; 

}

.login-button:hover {
  color: white; 
  background-color: var(--OURed); 
  border-color: var(--OURed); 
}